.navbar {
    background-color: black;
    display: flex;
    height: 11vh;
    justify-content: space-between;
    padding-right: 10px;
}
.logo {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 11vh;
}
.navLinks {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
}
.links{
    display: flex;
    gap: 7rem;
    font-size: 1.5rem;
    color: white;
}
.links a{
    color: white;
}
.links a:hover{
    color: aqua;
}
.navSocial {
    align-items: center;
    display: flex;
    gap: 2rem;
}
.navIcons{
    font-size: 2.5rem;
}
.navSocial img{
    width: 27%;
    height: 5vh;
}
.page1 {
    padding-bottom: 4rem;
}
.introSec{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    justify-content: center;
    padding-left: 6rem;
    text-shadow: -20px 7px 180px #16f1ba;
}
.Cont1 {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.introPara{
    width: 87%;
    font-size: 1.2rem;
    text-shadow: -2px 9px 85px #16f1ba;
}
.ClickHere a{
    color: #E8CF36;
    border: 2px solid;
    padding: 0.5rem;
    background-color: black;
    font-size: 1.3rem;
    border-radius: 1rem;
    width: 4%;
}
.image1 {
    width: 50%;
}
.image1 img{
    width: 100%;
    animation: imgUp 0.9s linear infinite alternate;

}
@keyframes imgUp {
    to {
      transform: translateY(-8px);
    }
  }
.Intro-box-main-div{
    display: flex;
    justify-content: center;
    opacity: 1;
}
.box-intro {
    border: 3px solid white;
    width: 26%;
    display: flex;
    padding: 1.1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    text-align: center;
}
.Intro-box-main-div :nth-child(1)
{
    background-color: #19094A;
    border-radius: 15px 0px 0px 15px;
}
.Intro-box-main-div :nth-child(2)
{
    background-color: #096f4b;
}
.Intro-box-main-div :nth-child(3)
{
    background-color: #1c1c1c;
    border-radius: 0px 15px 15px 0px;
}
.page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 3rem;
}
.whatweDo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-shadow: 6px -9px 70px #16f1ba;
}
.whatweDo h2 {
    font-size: 2.4vw;
    text-shadow: -13px -12px 65px #16f1ba;
}
.whatweDo p{
    width: 62%;
    text-align: center;
    font-size: 1.2vw;
}
.page2-boxs {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 4rem;
}
.what-we-do-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    gap: 1rem;
    border: 2.5px solid #373e3f;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    transition: border-color .3s ease;
}
.what-we-do-box1:hover {
    border-color: #3d3dd1;
}
.what-we-do-box1 img{
    width: 50%;
}
.what-we-do-box1 h3{
    font-size: 1.88vw;
}
.what-we-do-box1 p {
    width: 90%;
    font-size: 1.2vw;
    text-align: center;
}






@media only screen and (width<=1000px){
    .logo {
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinks {
        display: flex;
        justify-content: center;
        gap: 6rem;
        align-items: center;
    }
    .links {
        display: flex;
        gap: 4rem;
        font-size: 3vw;
        color: white;
    }
    .navSocial{
        display: none;
    }
    .introSec {
        display: flex;
        height: 60vh;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        justify-content: center;
        padding-left: 1rem;
        text-shadow: -20px 7px 180px #16f1ba;
    }
    .Cont1 {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .introPara {
        width: 86%;
        font-size: 2.3vw;
        text-shadow: -2px 9px 85px #16f1ba;
    }
    .ClickHere a{
        padding: 0.4rem;
    }
}
@media only screen and (width<=600px){
    .navbar {
        background-color: black;
        display: flex;
        height: 8vh;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 10px;
    }
    .logo {
        width: 24%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img {
        width: 100%;
        height: 8vh;
    }
    .navLinks {
        display: flex;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }
    .links {
        display: flex;
        gap: 1rem;
        font-size: 4vw;
        color: white;
    }
    .navSocial {
        display: none;
    }
    .introSec {
        display: flex;
        height: auto;
        padding-bottom: 2.2rem;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        gap: 1.5rem;
    }
    .content {
        width: 94%;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        justify-content: center;
        padding-left: 1rem;
        text-shadow: -5px 13px 110px #16f1ba;
    }
    .Cont1 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .introPara {
        width: 90%;
        font-size: 1rem;
        text-shadow: -12px 20px 79px #16f1ba;
    }
    .ClickHere a {
        color: #E8CF36;
        border: 2px solid;
        padding: 0.5rem;
        background-color: black;
        font-size: 1.1rem;
        border-radius: 1rem;
    }
    .image1 {
        width: 90%;
    }
    .image1 img {
        width: 100%;
        display: flex;
        margin: auto;
    }
    .Intro-box-main-div {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .box-intro {
        border: 3px solid white;
        width: 60%;
        display: flex;
        padding: 0.8rem;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        text-align: center;
    }
    .Intro-box-main-div :nth-child(1) {
        border-radius: 15px 15px 0px 0px;
    }
    .Intro-box-main-div :nth-child(3) {
        border-radius: 0px 0px 15px 15px;
    }
    .page1{
        padding-bottom: 3rem;
    }
    .page2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding-bottom: 2.7rem;
    }
    .whatweDo {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-shadow: 3px 0px 70px #16f1ba;
    }
    .whatweDo h2 {
        font-size: 8vw;
        text-shadow: -11px -5px 65px #16f1ba;
    }
    .whatweDo p {
        width: 100%;
        text-align: center;
        font-size: 4vw;
    }
    .page2-boxs {
        justify-content: center;
        display: flex;
        gap: 4.2vw;
        flex-direction: column;
        align-items: center;
    }
    .what-we-do-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
        gap: 0.7rem;
        border: 2.5px solid #373e3f;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 1rem;
        transition: border-color .3s ease;
    }
    .what-we-do-box1 h3 {
        font-size: 5vw;
    }
    .what-we-do-box1 p {
        width: 90%;
        font-size: 4vw;
        text-align: center;
    }
    
}
